@import '../../../../assets/sass/base';

.fcl-datatable-container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.fcl-datatable {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: $fcl-box-shadow;
}

.fcl-datatable .datatable-header .datatable-header-inner {
    height: 100%;
}

.fcl-datatable .datatable-row-center .datatable-header-cell {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}

.fcl-datatable .datatable-row-center .datatable-header-cell.sortable {
    cursor: pointer;
}

.fcl-datatable .datatable-header-cell-label,
.fcl-datatable .datatable-header-cell-template-wrap {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.fcl-datatable .datatable-row-center .datatable-header-cell .datatable-header-cell-template-wrap {
    height: 100% !important;
}

.fcl-column-filter-field .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}

.fcl-column-filter-field .mat-form-field-wrapper .mat-form-field-infix {
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.fcl-column-filter-field .mat-form-field-wrapper .mat-form-field-flex {
    padding-right: 0;
}

.fcl-column-filter-field .mat-form-field-outline-start,
.fcl-column-filter-field .mat-form-field-outline-end {
    border-radius: 0;
    border-color: $fcl-accent-100;
}

.fcl-column-filter-field-icon {
    color: $fcl-accent-200;
    transform: scale(0.8);
}

.fcl-datatable .datatable-row-center .datatable-header-cell .datatable-header-cell-template-wrap .fcl-column-filter-field {
    font-size: 0.8rem;
}

.fcl-datatable .datatable-body-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.fcl-datatable .datatable-body-cell-label {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.fcl-datatable .fcl-invisible-data-row-cell {
    flex: 1;
}

.fcl-datatable .fcl-visibility-column-row-cell {
    padding: 0.1rem 0 0 0.5rem !important;
}

.fcl-more-columns-button {
    border: none;
    height: 100%;
    padding: 0;
    width: 20px;
    background-color: $fcl-accent-100 !important;
}

.fcl-more-columns-button .fcl-more-columns-icon {
    width: 100%;
}

.fcl-more-columns-button:hover {
    background-color: $fcl-accent-300 !important;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.fcl-more-columns-button:focus {
    outline: 0;
}

.fcl-more-column-row-cell {
    padding: 0 !important;
    background-color: rgb(255, 255, 255);
}

.fcl-datatable .datatable-header-cell.fcl-more-columns-header-cell {
    padding: 0 !important;
    height: 100%;
}

.fcl-datatable .datatable-icon-expand {
    color: $fcl-accent-200;
}

.fcl-datatable .datatable-header-cell-template-wrap > span.datatable-icon-up::before,
.fcl-datatable .datatable-header-cell-template-wrap > span.datatable-icon-down::before {
    display: none;
}

.fcl-datatable .datatable-header-cell.fcl-visibility-column-header-cell {
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
}

.fcl-datatable .fcl-column-visibility-header-icon-container {
    margin-top: 0.25rem;
}

.fcl-datatable .fcl-column-visibility-header-sort-icon {
    font-size: 0.8rem;
}

.fcl-datatable .fcl-column-visibility-header-icon {
    font-size: 1rem;
}

.fcl-datatable .pointable {
    cursor: pointer;
}

.fcl-datatable .fcl-column-visibility-header-icon.unsorted {
    color: $fcl-accent-200;
}

.fcl-datatable .fcl-visibility-filter-button {
    height: 1.5rem;
    border: 1px solid $fcl-accent-100;
    padding: 0;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    justify-content: center;
}

.fcl-datatable .fcl-visibility-filter-button:hover {
    background-color: $fcl-accent-300;
}

.fcl-datatable .fcl-visibility-filter-button:focus {
    outline: 0;
}

.fcl-datatable .fcl-row-cell-invisible .datatable-body-cell-label {
    color: $fcl-accent-200;
}

.fcl-datatable .fcl-row-symbol {
    display: flex;
    align-items: center;
}

.fcl-datatable .fcl-row-symbol svg {
    height: 1rem;
}

.fcl-datatable .fcl-row-symbol svg polygon,
.fcl-datatable .fcl-row-symbol svg circle,
.fcl-datatable .fcl-row-symbol svg rect {
    transform: scale(0.9);
}

.fcl-datatable .fcl-row-symbol.fcl-invisible-data-row-cell svg polygon,
.fcl-datatable .fcl-row-symbol.fcl-invisible-data-row-cell svg circle,
.fcl-datatable .fcl-row-symbol.fcl-invisible-data-row-cell svg rect {
    transform: scale(0.9);
    stroke: rgb(211, 211, 211);
}
