<div class="fcl-dashboard-container">
    <button class="fcl-dashboard-action" mat-flat-button (click)="tracingView()">
        <mat-card class="fcl-mat-card">
            <mat-card-content>
                <div class="fcl-card-content mat-display-1">
                    Tracing View
                </div>
                <img class="fcl-logo" mat-card-image src="../../assets/FoodChain-Lab-Logo300_tH.png" alt="FCL logo" />
            </mat-card-content>
        </mat-card>
    </button>

    <button class="fcl-dashboard-action" mat-flat-button (click)="itConversionView()">
        <mat-card class="fcl-mat-card">
            <mat-card-content>
                <div class="fcl-card-content mat-display-1">
                    Conversion Mapping
                </div>
                <img class="fcl-logo" mat-card-image src="../../assets/GDST-Logo.png" alt="GDST logo" />
            </mat-card-content>
        </mat-card>
    </button>
</div>

