@import '~@swimlane/ngx-datatable/themes/material.scss';

ngx-datatable {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
