.ngx-filter-table {
    width: 800px;
    height: 455px;
}

.overall-column-filter {
    width: 80%;
}

.datatable-footer-inner {
    height: 50px;
}

.header-sort-span {
    color: black;
}

.mat-option {
    height: 25px !important;
    font-size: 12px !important;
}

.highlighting-div {
    width: 30px;
    height: 20px;
}

.highlighting-column {
    text-align: center;
}
