@import '../../../../assets/sass/base';

.fcl-add-highlighting-button {
    border-radius: 5;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    width: 100%;
}

.fcl-add-highlighting-button:hover {
    background-color: $fcl-accent-300;
    color: rgba(255, 255, 255, 0.9);
}
