@import "../../../../assets/sass/base";

.fcl-action-item {
    flex: 1;
}

.fcl-action-container {
    display: flex;
    justify-content: flex-end;
    padding-right: $fcl-toolbar-padding * 4;
}

.fcl-separator {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
}

#fileInput {
    display: none;
}

.fcl-graph-type {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fcl-graph-type-button {
    padding-right: 1rem;
}

.fcl-map-type-button {
    width: 1.4rem;
}

.fcl-map-type-select {
    width: 1rem;
}

.mat-select-arrow {
    opacity: 0.3;
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: white;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-ripple {
    background-color: white;
}
