.fcl-graph-container {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
}

.fcl-graph {
    width: 100%;
    height: 100%;
}

.fcl-graph-zoom {
    position: absolute;
    top: 40px;
    left: 12px;
    user-select: none;
}

.fcl-graph-legend {
    z-index: 20;
    position: absolute;
    left: 16px;
    bottom: 40px;
    user-select: none;
}
