<div id="fcl-notice-top"></div>

<article class="fcl-data-protection-notice">

    <div class="fcl-data-protection-notice-title mat-headline">
        Data protection notice for the FoodChain-Lab Web application of the BfR
    </div>

    <hr>

    <p class="fcl-data-protection-notice-text mat-body">
        The following information explains how we process your personal data when you use the FoodChain-Lab Web
        application (FCL Web) and also outlines your data protection rights.
    </p>


    <div class="fcl-data-protection-notice-subheader mat-title">
        Who is responsible for data processing and who can I contact should the need arise?
    </div>

    <div class="fcl-data-protection-notice-text mat-body">

        <p>
            The responsible entity is:
        </p>

        <p>
            German Federal Institute for Risk Assessment (BfR) <br>
            Max-Dohrn-Str. 8-10 <br>
            10589 Berlin <br>
            Tel.: 0049 (0)30-18412-0 <br>
            Fax: 0049 (0)30-18412-99099 <br>
            E-Mail: <a href="mailto:poststelle@bfr.bund.de">poststelle@bfr.bund.de</a> <br>
            <a href="https://www.bfr.bund.de/en" target="_blank" rel="noopener">www.bfr.bund.de/en</a> <br>
        </p>

        <br>

        <p>
            Our Data Protection Officer is:
        </p>

        <p>
            Rechtsanwalt Carsten Bethke <br>
            Calandrellistr. 24 - 12247 Berlin <br>
            Tel 0049 (0)30 7017 3010 - Fax 0049 (0)30 7017 3011  <br>
            E-Mail: <a href="mailto:dsb@bfr.bund.de">dsb@bfr.bund.de</a> <br>
        </p>
    </div>


    <div class="fcl-data-protection-notice-subheader mat-title">
        What sources and data do we use?
    </div>

    <div class="fcl-data-protection-notice-text mat-body">

        <p>
            When you register for FCL Web, we process the following data that we have received from you:
        </p>

        <ul>
            <li>
                Name<sup>*</sup>
            </li>
            <li>
                First name<sup>*</sup>
            </li>
            <li>
                E-mail address<sup>*</sup>
            </li>
        </ul>

        <p>
            <sup>*</sup><em>compulsory</em>
        </p>

        <p>
            Each time a user accesses our web pages and each time a file is opened, data on this process is temporarily
            processed in a log file on the web server.
        </p>

        <p>
            The following data in particular is saved on each access operation/file opening:
        </p>

        <ul>
            <li>
                Browser type and version
            </li>
            <li>
                Operating system used
            </li>
            <li>
                Website from which you visit our web pages (referrer URL)
            </li>
            <li>
                Web page that you visit
            </li>
            <li>
                Date and time of access
            </li>
            <li>
                Your Internet Protocol (IP) address in anonymised form
            </li>
        </ul>

        <p>
            This data is not combined with the user's other personal data.
        </p>

        <p>
            Please also note our
            <a href="https://www.bfr.bund.de/en/data_protection_declaration.html" target="_blank" rel="noopener">general data protection regulations</a> at
            <a href="https://www.bfr.bund.de/en/home.html" target="_blank" rel="noopener">www.bfr.bund.de</a>.
        </p>

    </div>


    <div class="fcl-data-protection-notice-subheader mat-title">
        For what purpose do we process your data and on what legal basis do we do this?
    </div>

    <div class="fcl-data-protection-notice-text mat-body">

        <p>
            We process the aforementioned personal data in compliance with the provisions of the General Data Protection Regulation (GDPR)
            and the German Federal Data Protection Act (BDSG) in its most recent version based on your consent (Art. 6 I a GDPR).
            Aim of processing your personal data is to ensure that the registered user is eligible to use FCL Web.
        </p>

    </div>

    <div class="fcl-data-protection-notice-subheader mat-title">
        Who receives my data?
    </div>

    <div class="fcl-data-protection-notice-text mat-body">

        <p>
            Your data are processed solely in-house at the BfR by the employees responsible for processing. The data are not passed on to third parties.
            Processing takes place exclusively in Germany.
        </p>

        <p>
            We implement technical and organisational measures to ensure that your data are protected against accidental or intentional
            manipulation and unauthorised access. Transmission of your online registration is therefore encrypted according to the currently
            recognized state of the art.
        </p>

    </div>

    <div class="fcl-data-protection-notice-subheader mat-title">
        How long are my data stored?
    </div>

    <div class="fcl-data-protection-notice-text mat-body">

        <p>
            Your registration data will be stored until you request deletion. You can request us to delete your data via e-mail
            to <a href="mailto:foodrisklabs@bfr.bund.de">foodrisklabs@bfr.bund.de</a>.
        </p>

    </div>

    <div class="fcl-data-protection-notice-subheader mat-title">
        What are my data protection rights?
    </div>

    <div class="fcl-data-protection-notice-text mat-body">

        <p>
            All affected persons (data subjects) have the right to information pursuant to Art. 15 GDPR, the right to rectification
            (correction) pursuant to Art. 16 GDPR, the right to deletion pursuant to Art. 17 GDPR, the right to restriction of
            processing pursuant to Art. 18 GDPR, the right to object based on Art. 21 GDPR and the right to data portability
            based on Art. 20 GDPR. The restrictions outlined in Art. 34 and 35 German Federal Data Protection Act (BDSG) in its
            most recent version apply with regard to the right to information and the right to deletion. Moreover, all affected
            persons have the right to lodge an objection with a data protection supervisory authority pursuant to Art. 77 GDPR
            in conjunction with Art. 19 German Federal Data Protection Act (BDSG).
        </p>

    </div>

    <div class="fcl-data-protection-notice-subheader mat-title">
        Am I obligated to provide data?
    </div>

    <div class="fcl-data-protection-notice-text mat-body">

        <p>
            No, you are not obligated to provide personal data. However, FCL Web cannot be used without registration.
        </p>

    </div>


    <footer class="fcl-data-protection-notice-text mat-small">

        <hr>

        <p>
            Valid as of: 02 June 2020
        </p>

    </footer>

</article>
