<mat-form-field
    class="fcl-new-highlighting-rule-form-field"
    appearance="outline"
    color="primary">
    <mat-select
        [value]="value"
        (valueChange)="onValueChange($event)"
        placeholder="Shape">
        <ng-container *ngFor="let type of availableShapeTypes">
            <mat-option
                class="fcl-filter-select-option"
                [value]="type">
                {{ getShapeLabel(type) }}
            </mat-option>
        </ng-container>
    </mat-select>
</mat-form-field>
