<div id="fcl-declaration-top"></div>

<article class="fcl-data-protection-declaration">

        <div class="fcl-data-protection-declaration-title mat-headline">Data Protection Declaration</div>

        <hr>

        <p class="fcl-data-protection-declaration-text mat-body">The German Federal Institute for Risk Assessment (BfR) attaches great importance to the responsible handling
           of personal data. We want users to know when which data is collected and used by the BfR. Under the domain
           <a href="https://fcl-portal.bfr.berlin/" target="_blank">fcl-portal.bfr.berlin</a> the BfR operates the FoodChain-Lab web application (FCL Web) to visualise
           and analyse supply chains. We only process personal data to the necessary extent. The basis on which
           different data is processed depends on the purpose for which the data is required.
        </p>


        <div class="fcl-data-protection-declaration-subheader mat-title">
            1. Who is responsible for data processing and who can I contact?
        </div>

        <div class="fcl-data-protection-declaration-text mat-body">

            <p>
                The German Federal Institute for Risk Assessment is responsible for processing your data
                in line with Art. 4 No. 7 GDPR. You can find our contact details below:
            </p>

            <p>
                German Federal Institute for Risk Assessment (BfR) <br>
                Max-Dohrn-Str. 8-10 <br>
                10589 Berlin <br>
                Tel.: 0049 (0)30-18412-0 <br>
                Fax: 0049 (0)30-18412-99099 <br>
                E-Mail: <a href="mailto:poststelle@bfr.bund.de">poststelle@bfr.bund.de</a> <br>
                <a href="https://www.bfr.bund.de/en" target="_blank" rel="noopener">www.bfr.bund.de/en</a> <br>
            </p>

            <br>

            <p>
                If you have questions about the processing of your data or about data protection,
                please contact our Data Protection Officer:
            </p>

            <p>
                Rechtsanwalt Carsten Bethke <br>
                Calandrellistr. 24 - 12247 Berlin <br>
                Tel 0049 (0)30 7017 3010 - Fax 0049 (0)30 7017 3011  <br>
                E-Mail: <a href="mailto:dsb@bfr.bund.de">dsb@bfr.bund.de</a> <br>
            </p>
        </div>


        <div class="fcl-data-protection-declaration-subheader mat-title">
            2. On which legal basis do we process your personal data?
        </div>

        <div class="fcl-data-protection-declaration-text mat-body">

            <p>
                At the BfR, personal data is processed in accordance with the
                <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0679&qid=1527147390147&from=EN"
                target="_blank" rel="noopener">
                European General Data Protection Regulation (GDPR)</a>,
                the German Telemedia Act (TMG) and the
                <a href="http://www.gesetze-im-internet.de/englisch_bdsg/index.html"
                target="_blank" rel="noopener">
                German Federal Data Protection Act (BDSG)</a>.
            </p>

            <p>
                Provided the BfR obtains consent from the person concerned to process their personal data, Art. 6 Para. 1 lit.
                a GDPR serves as the legal basis. Consent can be revoked at any time with future effect. This also applies to
                revoking consent that was given to us before the GDPR came into effect, i.e. before 25 May 2018.
            </p>

            <p>
                If personal data required to fulfil a contract is processed where the contract party is the person concerned,
                Art. 6 Para. 1 lit. b GDPR serves as the legal basis in the individual case. This also applies to processing
                that is required to perform pre-contractual measures.
            </p>

            <p>
                If personal data needs to be processed in an individual case in order to fulfil a legal obligation,
                Art. 6 Para. 1 lit. c GDPR also serves as the legal basis in conjunction with the relevant legislation
                from which the legal obligation arises.
            </p>

            <p>
                In the rare case that vital interests of the person concerned or another individual necessitate processing
                of personal data, Art. 6 Para. 1 lit. d GDPR serves as the legal basis.
            </p>

            <p>
                The BfR processes personal data during performance of its tasks in the public interest. The public tasks
                of the BfR include in particular the tasks and activities assigned to it according to the BfR law (BfRG).
                The legal basis of the processing here is Art. 6 Para. 1 lit. e of the GDPR in conjunction with the
                relevant provisions of the BfRG, in particular § 2 BfRG.
            </p>

            <p>
                Where necessary, we also process your data for protection of our own justified interests or those of third parties.
                Examples may include enforcement of legal claims and defence in legal disputes, guaranteeing IT security and IT
                operation of the BfR, PR work of the BfR or the prevention of crimes, etc. In such cases, Art. 6 Para. 1 lit. f
                GDPR serves as the legal basis.
            </p>
        </div>


        <div class="fcl-data-protection-declaration-subheader mat-title">
            3. Which personal data is processed in the context of visits to our website?
        </div>

        <div class="mat-title">
            3.1   Data collection
        </div>

        <div class="fcl-data-protection-declaration-text mat-body">

            <p>
                Each time a user accesses our web pages and each time a file is opened, data on this process is temporarily processed in a log file on the web server.
            </p>

            <p>
                The following data in particular is saved on each access operation/file opening:
            </p>

            <ul>
                <li>
                    Browser type and version
                </li>
                <li>
                    Operating system used
                </li>
                <li>
                    Website from which you visit our web pages (referrer URL)
                </li>
                <li>
                    Web page that you visit
                </li>
                <li>
                    Date and time of access
                </li>
                <li>
                    Your Internet Protocol (IP) address in anonymised form
                </li>
            </ul>

            <p>
                The legal basis for temporary saving of data is Art. 6 Para. 1 lit. e and f GDPR. This data is not combined with the user's other personal data.
            </p>

            <p>
                When using this information, the BfR does not draw conclusions about the person in question. Rather, this information is required to:
            </p>

            <ul>
                <li>
                    Correctly deliver the contents of our web page
                </li>
                <li>
                    Optimise the contents of our web page
                </li>
                <li>
                    Guarantee functionality of our IT systems and the technology of our web page
                </li>
            </ul>

            <p>
                The log files are deleted after 14 days.
            </p>
        </div>

        <div class="fcl-data-protection-declaration-subheader mat-title">
            3.2 Which personal data is processed when registering for FCL Web?
        </div>

        <div class="fcl-data-protection-declaration-text mat-body">

            <p>
                Please check the <a [routerLink]="['/content/dataprotectionnotice']">data protection notice</a> of FCL Web.
            </p>

        </div>

        <div class="fcl-data-protection-declaration-subheader mat-title">
            3.3 Contact by e-mail
        </div>

        <div class="fcl-data-protection-declaration-text mat-body">

            <p>
                You can contact the FCL team by e-mail via foodrisklabs@bfr.bund.de. If you contact the FCL team by e-mail, the data transmitted by you
                (e.g. first name, surname, address etc.), but at least the e-mail address, as well as the information contained in the e-mail
                (including any personal data provided by you) will be processed for the purposes of contacting you and handling your issue. We
                advise you that data processing takes place on the basis of Article 6 Paragraph 1 lit. e GDPR in conjunction with Art. 3 BDSG.
                It is necessary to process the personal data transmitted by you in order to handle your issue.
            </p>

        </div>


        <div class="fcl-data-protection-declaration-subheader mat-title">
            3.4 Data for newsletter distribution
        </div>

        <div class="fcl-data-protection-declaration-text mat-body">

            <p>
                If you register on the FCL newsletter mailing lists, we generally save your e-mail address and the date and time of registration.
                The data is processed on the basis of your consent according to Article 6 Paragraph 1 lit. a GDPR. We only use this data for sending
                the newsletter. We do not forward the data to any third parties.
            </p>

            <p>
                The registration system with an additional confirmation message containing a link to the final registration (double opt-in) ensures
                that you explicitly wish to receive the newsletter.
            </p>

            <p>
                On registration, your data is saved on our server and a confirmation message with a link to final registration is sent to the given e-mail address.
            </p>

            <p>
                Your data for newsletter distribution is only saved for the duration of use of our newsletter service when you confirm the link in the e-mail.
            </p>

            <p>
                If you no longer agree to the saving of your data for this purpose and therefore no longer wish to use our service, you can unsubscribe
                from our newsletters at any time. The data provided by you is then deleted. Please write an e-mail to <a href="mailto:foodrisklabs@bfr.bund.de">foodrisklabs@bfr.bund.de</a>
                to unsubscribe. You will need the e-mail address that you gave when you registered.
            </p>

        </div>

        <div class="fcl-data-protection-declaration-subheader mat-title">
            4. Is data transferred to a third country or an international organisation?
        </div>

        <div class="fcl-data-protection-declaration-text mat-body">

            <p>
                Transfer of data to countries outside of the EU or the EEA (so-called third states) only takes place if this is contractually required,
                prescribed by law or in the context of order data processing. If order data processors in a third country are used, these processors are
                contractually obliged to comply with the data protection regulations of the EU.
            </p>

        </div>


        <div class="fcl-data-protection-declaration-subheader mat-title">
            5. What data protection rights do I have?
        </div>

        <div class="fcl-data-protection-declaration-text mat-body">

            <p>
                The BfR guarantees you the following rights with respect to your personal data:
            </p>

            <ul>
                <li>
                    The right to information according to Art. 15 GDPR
                </li>
                <li>
                    The right to rectification according to Art. 16 GDPR
                </li>
                <li>
                    The right to erasure according to Art. 17 GDPR
                </li>
                <li>
                    The right to restriction of processing according to Art. 18 GDPR
                </li>
                <li>
                    The right to object from Art. 21 GDPR
                </li>
                <li>
                    The right to data portability from Art. 20 GDPR
                </li>
            </ul>

            <p>
                The restrictions according to Arts. 34 and 35 BDSG apply to the rights to information and erasure.
            </p>

            <p>
                You can revoke consent given to us to process personal data at any time with future effect.
                This also applies to revoking consent that was given to us before the General Data Protection
                Regulation came into effect, i.e. before 25 May 2018.
            </p>

            <p>
                You can assert the rights specified above to the BfR under <a href="mailto:poststelle@bfr.bund.de">poststelle@bfr.bund.de</a> or by post to the postal
                address of the BfR given at the beginning of this data protection declaration.
            </p>

            <p>
                Furthermore, you have the right to complain to the regulatory authority for data protection (German Federal Commissioner for Data Protection
                and Freedom of Information), cf. Art. 77 GDPR in conjunction with Art. 19 BDSG.
            </p>

            <p>
                You can also contact the Data Protection Officer at the BfR (<a href="mailto:dsb@bfr.bund.de">dsb@bfr.bund.de</a>) with questions or complaints.
            </p>

        </div>


        <div class="fcl-data-protection-declaration-subheader mat-title">
            6. Changes to the data protection declaration
        </div>

        <div class="fcl-data-protection-declaration-text mat-body">

            <p>
                The BfR reserves the right to modify this data protection declaration so that it always adheres to the current legal requirements.
                We recommend that you read our data protection declaration regularly in order to stay up to date regarding the protection of the
                personal data that we collect.
            </p>

        </div>



        <footer class="fcl-data-protection-declaration-text mat-small">

            <hr>

            <p>
                <!-- the date of this document must be given in the backend config file and is pulled during component loading -->
                Valid as of: {{ gdprDate$ | async }}
            </p>

        </footer>

    </article>
