.truncate { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-window-titlebar {
    background-color: #58A7AE;
    color: white;
}

.k-tabstrip .k-item {
    color: black;
}

.k-tabstrip .k-item.k-state-hover {
    color: #005670;
}

.k-tabstrip .k-item.k-state-active {
    color: #58A7AE;
}

.full-column { 
    width: 100% !important;
}

.half-column {
    width: 49.7% !important;
    margin: 0px;
}

.master-data-list-item {
    cursor: pointer;
    padding: 2px;
    font-size: 1.25em;
}

.master-data-list-item.k-state-selected {
    background-color: #58A7AE;
    color: white;
}

.feedback-list {
    border: 1px solid grey;
}

.k-textbox.k-input {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.gdst-well {
    border: 1px darkgrey solid;
    border-radius: 0.5em;
    box-shadow: 0px 0px 0.1em grey;
    background-color: lightgrey;
    margin: 0.5em 0.0em 0.5em 0.0em;
    padding: 0.5em;
}

.kde-fields h3 {
    padding-left: 0.4em;
    margin: 0.0em 0.0em 0.5em 0.0em;
}

.gdst-kde-field {
    width: 24.90%;
    padding: 0.0em 0.5em 0.0em 0.5em;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 0.75em;
}

.gdst-kde-field .k-textbox.k-input {
    height: 1.75em;
}

.gdst-kde-field input {
    width: 100%;
}

.gdst-certificate-field {
    display: table;
    width: 100%;
}

.gdst-certificate-field h3 {
    padding-left: 0.4em;
    margin: 0;
}

.gdst-certificate-field label {
    font-size: 0.8em !important;
    color: #1F1F1F;
}

.gdst-kde-field label {
    color: black;
}

.icon-cell {
    text-align: center !important;
}

.icon-button {
    cursor: pointer;
}

.icon-button:hover {
    color: darkgrey;
}

.icon-button:active {
    text-shadow: 0px 0px 3px #58A7AE;
}

#cte-form-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

#cte-form-container .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888888;
    opacity: 0.4;
}

#cte-form {
    position: fixed;
    right: 1.0em;
    top: 1.0em;
    bottom: 1.0em;
    left: 25%;
    border-radius: 1.0em;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0px 0px 0.3em grey;
    opacity: 1.0;
    padding: 1.0em;
}


/* scrollbar styling */
body {
    scrollbar-color:  #58A7AE #005670;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #005670;
    border-radius: 5px;
    cursor: pointer !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #58A7AE;
  }


.gdst-grid-toolbar {
    background-color: lightgrey;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 1px darkgrey solid;
    border-bottom: none;
    box-shadow: 0px 0px 0.1em grey;
    padding: 0.3em;
}

.gdst-button {
    background-color: #005670;
    color: white;
    padding: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    border-color: lightgrey 1px solid;
}

.gdst-button label {
    cursor: pointer;
}

.gdst-button i {
    cursor: pointer;
}

.gdst-button .fa {
    margin-right: 0.5em;
}


.gdst-button:hover {
    background-color: #58A7AE;
    color: white;
    border-color: white 1px solid;
}

.gdst-button:active {
    background-color: lightblue;
    color: black;
    box-shadow: 1.5px 1.5px #888888;
}

.diagram-toolbox {
    width: 15em; 
    min-width: 15em; 
    height: 100%; 
    border-right: 1px solid grey; 
    background-color: #f1f1f1; 
    display: flex; 
    flex-direction: column;
}

.diagram-toolbox-items {
    border-top: 2px dashed lightgrey; 
    flex: 1; 
    overflow-y: auto;
}

.diagram-item-v2 {
    background-color: #58A7AE;
    border-radius: 1.0em;
    display: inline-block;
    position: relative;
    margin: 0.5em;
    cursor: move;
}
    .diagram-item-v2 > div {
        padding: 0.5em;
        color: white;
    }
    
    .diagram-item-v2 label {
        text-align: center;
        color: white;
        cursor: move;
    }

.diagram-item {
    height: 6em;
    width: 6.6em;
    background-color: #58A7AE;
    border-radius: 1.0em;
    cursor: move;
}
    .diagram-item > div {
        display: table;
        height: 100%;
        width: 100%;
    }
    .diagram-item label {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 1.05em;
        color: white;
        cursor: move;
    }

.password-screen {
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: white; 
    z-index: 10000;
}

    .password-screen > div {
        height: 10em; 
        width: 10em; 
        padding: 0.5em;
        border-radius: 2.0em; 
        border: 2px solid grey;
        background-color: #58A7AE; 
        top: 50%; left: 50%;     
        position: fixed; 
        margin-left: -5em; 
        margin-top: -5em;
    }

.loader {
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: white; 
    z-index: 9999;
}
    .loader > div {
        height: 10em; 
        width: 10em; 
        padding: 0.5em;
        border-radius: 2.0em; 
        border: 2px solid grey;
        background-color: #58A7AE; 
        top: 50%; left: 50%;     
        position: fixed; 
        margin-left: -5em; 
        margin-top: -5em;
    }
    .loader > div > div {
        display: table; 
        height: 100%; 
        width: 100%;
    }
    .loader > div > div > div {
        display: table-cell; 
        vertical-align: middle; 
        text-align: center; 
        color: white; 
        font-size: 2.0em;
    }
    .loader label {
        margin-top: 10px;
    }
    .loader .fa {
        font-size: 2.0em; 
        margin-top: 0.2em;
    }

    .fadeInRight {
        animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        animation-name: fadeInRight;
        -webkit-animation-name: fadeInRight;
     }

     .fadeOutRight {
        animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        animation-name: fadeOutRight;
        -webkit-animation-name: fadeOutRight;
     }

    @-webkit-keyframes fadeInRight {
        0% {
           opacity: 0;
           -webkit-transform: translateX(10em);
        }
        100% {
           opacity: 1;
           -webkit-transform: translateX(0);
        }
     }
     
     @keyframes fadeInRight {
        0% {
           opacity: 0;
           transform: translateX(10em);
        }
        100% {
           opacity: 1;
           transform: translateX(0);
        }
     }

     @-webkit-keyframes fadeOutRight {
        100% {
           opacity: 0;
           -webkit-transform: translateX(10em);
        }
        0% {
           opacity: 1;
           -webkit-transform: translateX(0);
        }
     }
     
     @keyframes fadeOutRight {
        100% {
           opacity: 0;
           transform: translateX(10em);
        }
        0% {
           opacity: 1;
           transform: translateX(0);
        }
     }

    /* .k-map .k-i-marker-custom-marker {
        background-image: url('https://demos.telerik.com/kendo-ui/content/dataviz/chart/images/sunny.png');
        background-size: 30px;
        width: 30px;
        height: 30px;
      }*/

      .k-map .k-i-marker-Fishing {
        background-image: url('../img/Fishing.png');
        background-size: 60px;
        width: 60px;
        height: 60px;
      }

      .k-map .k-i-marker-Feed {
        background-image: url('../img/FeedMill.png');
        background-size: 60px;
        width: 60px;
        height: 60px;
      }

      .k-map .k-i-marker-ship {
        background-image: url('../img/ship.png');
        background-size: 60px;
        width: 60px;
        height: 60px;
      }

      .k-map .k-i-marker-Farm {
        background-image: url('../img/FarmHarvest.png');
        background-size: 60px;
        width: 60px;
        height: 60px;
      }

      .k-map .k-i-marker-Aggregate {
        background-image: url('../img/Aggregate.png');
        background-size: 60px;
        width: 60px;
        height: 60px;
      }

      .k-map .k-i-marker-Processing {
        background-image: url('../img/Processing.png');
        background-size: 60px;
        width: 60px;
        height: 60px;
      }

      .k-map .k-i-marker-Transship {
        background-image: url('../img/Transship.png');
        background-size: 60px;
        width: 60px;
        height: 60px;
      }