@import '../../../../assets/sass/base';

.fcl-entry-page-item {
    flex: 1;
    height: 18%;
    background-color: $fcl-bg-color-entry;
    border-bottom: 5px groove rgba(120, 109, 109, 0.5);
}

.fcl-entry-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fcl-logo {
    max-width: 70%;
    height: 70%;
    margin-right: 4rem;
}

.fcl-content {
    color: white;
    font-size: 3.5rem;
}
