<div class="sidenav-elements">
    <mat-form-field>
        <mat-select placeholder="Node Size" [ngModel]="graphSettings.nodeSize" (ngModelChange)="setNodeSize($event)">
            <mat-option *ngFor="let nodeSize of nodeSizes" [value]="nodeSize">
                {{ nodeSize }}
            </mat-option>
        </mat-select>
    </mat-form-field>
        <mat-form-field>
            <mat-select
              placeholder="Font Size"
              [ngModel]="graphSettings.fontSize"
              (ngModelChange)="setFontSize($event)">
              <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">
                {{fontSize}}
              </mat-option>
            </mat-select>
        </mat-form-field>

    <div class="sidenav-elements-group">
        <mat-form-field class="less-bottom-padding">
            <mat-select
              placeholder="Merge Deliveries"
              [ngModel]="graphSettings.mergeDeliveriesType"
              (ngModelChange)="setMergeDeliveriesType($event)">
              <mat-option *ngFor="let mergeDeliveriesOption of mergeDeliveriesOptions"
              [value]="mergeDeliveriesOption.value"
              [matTooltip]="mergeDeliveriesOption.toolTip" matTooltipPosition="right" matTooltipShowDelay="500" matTooltipClass="fcl-option-tooltip">
                {{mergeDeliveriesOption.label}}
              </mat-option>
            </mat-select>
        </mat-form-field>

    <mat-checkbox
        [ngModel]="graphSettings.showMergedDeliveriesCounts"
        (ngModelChange)="showMergedDeliveriesCounts($event)">
        Show Merged Deliveries Counts
    </mat-checkbox>
</div>

    <mat-form-field>
        <mat-select placeholder="Cross Contamination Tracing" [ngModel]="tracingSettings.crossContTraceType" (ngModelChange)="setCrossContTraceType($event)">
            <mat-option *ngFor="let traceTypeOption of crossContTraceTypeOptions"
                [value]="traceTypeOption.value"
                [matTooltip]="traceTypeOption.toolTip" matTooltipPosition="right" matTooltipShowDelay="500" matTooltipClass="fcl-option-tooltip">
                {{ traceTypeOption.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox
          [ngModel]="graphSettings.showLegend"
          (ngModelChange)="showLegend($event)">
          Show Legend
        </mat-checkbox>

        <mat-checkbox
          [ngModel]="graphSettings.showZoom"
          (ngModelChange)="showZoom($event)">
          Show Zoom Controls
        </mat-checkbox>
</div>
