<div class="fcl-new-highlighting-rule-container">

    <fcl-rule-name-view
        class="fcl-new-highlighting-rule-name-field"
        (ruleNameChange) = "onRuleNameChange($event)"
    >
    </fcl-rule-name-view>

    <div class="fcl-shape-and-color-fields">
        <fcl-shape-selector-view
            class="fcl-complex-filter-form-field fcl-font-size-08 fcl-action-highlighting-button"
            [availableShapeTypes]="availableShapeTypes"
            [value]="undefined"
            (valueChange)="onShapeChange($event)"
        ></fcl-shape-selector-view>

        <fcl-color-picker-view
            class="fcl-new-highlighting-rule-color-field fcl-action-highlighting-button"
            [color]="color"
            (colorChange)="onColorChange($event)"
        >
        </fcl-color-picker-view>
    </div>

    <fcl-complex-filter-view
        class="fcl-new-highlighting-rule-complex-filter"
        [conditions] = "complexFilterSettings"
        [availableProperties] = "dataColumns"
        [availableOperatorTypes] = "availableOperatorTypes"
        [propToValuesMap] = "propToValuesMap"
        (conditionsChange) = "onComplexFilterChange($event)"
    ></fcl-complex-filter-view>

    <div class="fcl-action-highlighting-button-container">
        <div
            class="fcl-action-highlighting-button"
            [matTooltip]="applyTooltip">
            <button
                mat-stroked-button
                class="fcl-colors-and-shapes-rule-action-button"

                matTooltipPosition="above"
                color="primary"
                (click)="onApplyRule()"
                [disabled]="actionButtonDisabled"
                >
                <mat-icon>done</mat-icon>
                Apply
            </button>
        </div>

        <div
            class="fcl-action-highlighting-button"
            matTooltip="Close dialogue">
            <button
                mat-stroked-button
                class="fcl-colors-and-shapes-rule-action-button"

                matTooltipPosition="above"
                color="primary"
                (click)="onCancelRule()"
                >
                <mat-icon>clear</mat-icon>
                Cancel
            </button>
        </div>

        <div
            class="fcl-action-highlighting-button"
            [matTooltip]="okTooltip">
            <button
                mat-stroked-button
                class="fcl-colors-and-shapes-rule-action-button"

                matTooltipPosition="above"
                color="primary"
                (click)="onOkRule()"
                [disabled]="actionButtonDisabled"
                >
                <mat-icon>done</mat-icon>
                OK
            </button>
        </div>

    </div>
</div>
