<div [matMenuTriggerFor]="nestedMatMenu.matMenu" #graphMenuTrigger="matMenuTrigger"></div>
<fcl-nested-mat-menu-view #nestedMatMenu (actionSelected)="performAction($event)"></fcl-nested-mat-menu-view>
